/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
}

/* Set body styles */
body {
  overflow-x: hidden;
  margin: 0;
}

/* Styling the navigation bar */
.navbar {
  width: 100%;
  height: 100px;
  background-color: #0d2b48;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  width: 100%;
  max-width: 100px;
  height: 70px;
}

.navbar .logo .logo-text {
  margin-left: 0px;
}

.navbar .logo .logo-text h4 {
  font-size: 20px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin-right: 40px;
  margin-left: auto;
}

.navbar ul li {
  margin-left: 30px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  transition: 0.3s;
}

.navbar ul li a:hover {
  color: rgb(58, 137, 174);
}

.container {
  width: 1024px;
  margin: 100px auto;
}

.container h1 {
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  margin: 30px 0px;
}

.container h2 {
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  margin: 15px 0px 0px 0px;
}

.container h3 {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  margin: 35px 0px 0px 0px;
}

.container p {
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin: 10px 20px 0px 0px;
  line-height: 1.75;
}

.highlight img {
  max-width: 48%;
  height: auto;
  border-radius: 8px;
  margin: 40px 30px 0px 00px;
}

.highlight-1 {
  display: flex;
}

.culture-item-1 {
  display: flex;
  margin: 10px 0px;
}

.culture-item img {
  max-width: 48%;
  height: auto;
  border-radius: 8px;
  margin: 38px 30px 0px 00px;
}

.container1 {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

/* Styling the footer section */
footer {
  width: 100%;
  padding-bottom: 50px;
}

h3 {
  font-weight: 600;
  font-size: 15px;
  color: black;
}

.name a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.name a:hover {
  color: black;
}

.link a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.link a:hover {
  color: black;
}

.contact {
  width: 100%;
}

.icon {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 150px;
}

.icon img {
  width: 15px;
  padding-top: 20px;
  margin-left: 10px;
}

.box0 {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: rgb(120, 115, 110);
  font-size: 15px;
}

.na,
.name,
.link,
.add {
  width: 25%;
  text-align: center;
  line-height: 2;
  font-weight: 300;
}

.na {
  padding-left: 20px;
  text-align: left;
  font-family: 'Lato', sans-serif;
}

.name,
.link,
.add {
  padding-left: 10px;
  text-align: left;
  font-family: 'Lato', sans-serif;
}

address {
  margin-top: 10px;
}

hr {
  text-align: center;
  margin-bottom: 75px;
}

@media (max-width: 768px) {
  .box0 {
    flex-wrap: wrap;
  }
  
  .na,
  .name,
  .link,
  .add {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .icon {
    justify-content: center;
    margin-bottom: 20px;
  }
}

.container1 {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
  }
  
  /* Styling the footer section */
  footer {
    width: 100%;
    padding-bottom: 50px;
  }
  
  h3 {
    font-weight: 600;
    font-size: 15px;
    color: black;
  }
  
  .name a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
  }
  
  .name a:hover {
    color: black;
  }
  
  .link a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
  }
  
  .link a:hover {
    color: black;
  }
  
  .contact {
    width: 100%;
  }
  
  .icon {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 150px;
  }
  
  .icon img {
    width: 15px;
    padding-top: 20px;
    margin-left: 10px;
  }
  
  .box0 {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    color: rgb(120, 115, 110);
    font-size: 15px;
  }
  
  .na,
  .name,
  .link,
  .add {
    width: 25%;
    text-align: center;
    line-height: 2;
    font-weight: 300;
  }
  
  .na {
    padding-left: 20px;
    text-align: left;
    font-family: 'Lato', sans-serif;
  }
  
  .name,
  .link,
  .add {
    padding-left: 10px;
    text-align: left;
    font-family: 'Lato', sans-serif;
  }
  
  address {
    margin-top: 10px;
  }
  
  hr {
    text-align: center;
    margin-bottom: 75px;
  }
  
  @media (max-width: 768px) {
    .box0 {
      flex-wrap: wrap;
    }
    
    .na,
    .name,
    .link,
    .add {
      width: 100%;
      margin-bottom: 20px;
    }
    
    .icon {
      justify-content: center;
      margin-bottom: 20px;
    }
  }